* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    color: var(--primary-dark-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

:root {
    /* Colors */
    --primary-color: orange;
    --secondary-color: blue;

    /* Buttons color */
    --btn-primary-color: yellow;
    --btn-primary-hover-color: rgb(255, 255, 0, 2);
}

/* Buttons */
button {
    padding: 0.75rem 1rem;
    border-radius: 2.5rem;

    background-color: var(--btn-primary-color);

    cursor: pointer;
}